@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import "tailwindcss";

:root {
    color: #222E48;
}

body {
    font-family: 'Inter', sans-serif;
}


.custom-list {
    list-style: none;
    padding-left: 0;
}

.custom-list li {
    position: relative;
    padding-left: 30px;
    margin-bottom: 24px;
    font-size: 1.1rem;
    line-height: 1.6;
    color: #222E48;
    font-weight: 600;
}

.custom-list li:before {
    content: "";
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 10px;
    height: 10px;
    background: #E6700B;
    border-radius: 50%;
}



.swiper-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-bottom: 60px;
}

.gradient-border {
    --border-radius: 20px;
    position: relative;
    border-radius: var(--border-radius);
    isolation: isolate;
    overflow: hidden;
    background-color: white;
}

.gradient-border::before,
.gradient-border::after {
    content: '';
    position: absolute;
}

.gradient-border::before {
    width: 200%;
    height: 200%;
    /* background-image: conic-gradient(var(--hiw-border-color) 0deg,
                rgba(255, 174, 41, 0) 160deg,
                transparent 180deg,
                var(--hiw-border-color) 180deg,
                rgba(255, 174, 41, 0) 300deg); */
    background-image: var(--hiw-border-color1),
        var(--hiw-border-color2);
    inset: -50%;
    z-index: -2;
    /* rotate: -30deg; */
    animation: borderanimation 4s linear infinite;
}

@keyframes borderanimation {
    to {
        transform: rotate(-360deg);
    }
}

.gradient-border::after {
    --inset: 2px;
    inset: var(--inset);
    border-radius: calc(var(--border-radius) - var(--inset));
    z-index: -1;
    background-color: white;
    transition: all 0.3s linear;
}

