@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import "tailwindcss";

:root {
    color: #222E48;
}

body {
    font-family: 'Inter', sans-serif;
}


.custom-list {
    list-style: none;
    padding-left: 0;
}

.custom-list li {
    position: relative;
    padding-left: 30px;
    margin-bottom: 24px;
    font-size: 1.1rem;
    line-height: 1.6;
    color: #222E48;
    font-weight: 600;
}

.custom-list li:before {
    content: "";
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 10px;
    height: 10px;
    background: #E6700B;
    border-radius: 50%;
}

.swiper-wrapper {
    align-items: center;
    margin-bottom: 60px;
}